*{
    margin: 0px;
    font-family: "Roboto";
    padding: 0px;
    box-sizing: border-box;
    max-width: 210rem;
   
}
body{
    background-image: url(backcover.svg);
    background-repeat: no-repeat;
    background-position: top right;
    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 100px 200px;

 }
 .nav-items{
     display: flex;
     float: left;
 }
 .nav-item{
    margin-left: 60px;
    font-size: 20px;
    font-weight: 900;
    color: #3E4794;

 }
.signin-btn{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to right, #965CF2, #FF8ADC );
    border: none;
}
.left-section{
    margin-left: 200px;
}
.left-section h1{
    font-size: 125px;
    margin-bottom: 100px;
    color: #3E4794;
}
.left-section h4{
    width: 450px;
    font-size: 20px;
    line-height: 40px;
    color: #3E4794;
    font-weight: 100;
    margin-bottom: 100px;
}
.left-section button{
    width: 300px;
    font-size: 30px;
    height: 60px;
    border-radius: 30px;
    color: white;
    border: none;
    background-image: linear-gradient(to right,  #965CF2, #FF8ADC );

}
.imgs-div{
    display: flex;
    justify-content: right;
    margin-top: -600px;
    margin-right: 100px;
}





   


    @media(max-width: 1000px){

        *{
            overflow-x: hidden;
            height: fit-content;
        }

        nav{
            display: block;
            justify-content: baseline;
            align-items: center;
            margin: 0px 0px;  
            background-color: rgba(240, 255, 255, 0.268);      
         }

         .nav-items{
            display: flex;
            float: left;
            margin-top: 20px;
        }
        .nav-item{
           margin-left: 55px;
           font-size: 15px;
           font-weight: 900;
           color: #3E4794;
       
        }

        nav img{
            margin-top: 50px !important;
            margin-left: -280px;
            width: 80px;
        }
        .signin-btn{
            width: 50px;
            height: 25px;
            border-radius: 20px;
            font-size: 10px;
            color: white;
            background-image: linear-gradient(to right, #965CF2, #FF8ADC );
            border: none;
            display: block;
            margin-top: 10px;
            margin-left: 270px;
            margin-bottom: 10px;
        }

        .intro-section{
            display: block;
            height: fit-content;
            text-align: center;
        }

        .left-section{
            margin-left: 10px;
            text-align: center;
        }
        .left-section h1{
            font-size: 50px;
            margin-bottom: 100px;
            color: #3E4794;
            margin-left: -30px;
            margin-top: 10px;
        }
        .left-section h4{
            width: 300px;
            font-size: 10px;
            line-height: 10px;
            color: #3E4794;
            font-weight: 100;
            margin-bottom: 30px;
            margin-top: -80px;
            margin-left: 140px;
        }
        .left-section button{
            width: 150px;
            font-size: 15px;
            height: 30px;
            margin-left: -60px;
        
        }
        .imgs-div{
            display: flex;
            justify-content: right;
            margin-top: 50px;
            margin-right: 40px;
        }

    }


    @media(max-width: 600px){

        *{
            overflow-x: hidden !important;
            height: fit-content;
        }

        nav{
            display: block;
            justify-content: baseline;
            align-items: center;
            margin: 0px 0px;  
            background-color: rgba(240, 255, 255, 0.268);      
         }

         .nav-items{
            display: flex;
            float: left;
            margin-top: 10px;
        }
        .nav-item{
           margin-left: 20px !important;
           font-size: 15px !important;
           font-weight: 900;
           color: #3E4794;
       
        }

        nav img{
            margin: 0px !important;
            margin-left: -210px !important;
            width: 60px !important;
            margin-top: 40px !important;
        }
        .signin-btn{
            width: 50px;
            height: 15px !important;
            border-radius: 20px;
            font-size: 10px;
            color: white;
            background-image: linear-gradient(to right, #965CF2, #FF8ADC );
            border: none;
            display: block;
            margin-top: 5px;
            margin-left: 155px !important;
            margin-bottom: 10px;
        }

        .intro-section{
            display: block;
            height: fit-content;
            text-align: center;
        }

        .left-section{
            margin-left: 10px;
            text-align: center;
        }
        .left-section h1{
            font-size: 20px !important;
            margin-bottom: 100px;
            color: #3E4794;
            margin-left: 0px !important;
            margin-top: 10px;
        }
        .left-section h4{
            width: 210px !important;
            font-size: 20px;
            line-height: 25px;
            color: #3E4794;
            font-weight: 100;
            margin-bottom: 20px !important;
            margin-top: -80px;
            margin-left: 80px !important;
            margin-right: 0px !important;
        }
        .left-section button{
            font-weight: 900;
            width: 130px !important;
            font-size: 15px !important;
            height: 25px !important;
            margin-left: -10px !important;
            margin-top: -50px !important;
            margin-bottom: 0px !important;
            padding: 0px;
        
        }
        .imgs-div{
            display: block !important;
            justify-content: left;
            margin-top: 50px;
            margin-right: 40px;
        }

        .imgx{
            width: 290px;
            margin-left: 0px !important;
            
        }

        .vector-img{
            display: none;
        }

        .vector-dot{
            display: none;
        }


    }